/*
Paleta de cores 
verde: #96af9e
ciano: #7e899f
roxo: #5a2995
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

body,
html,
main {
    background-color: #5a2995;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
}

section#login {
    width: 300px;
    height: 500px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.712);
    transition: 1s ease;
}

.imagem {
    background:  url(../Imagens/pexels-alina-chernii-18879454.jpg) no-repeat;
    height: 200px;
    background-position: bottom;
    background-size: cover;
    display: block;
}

.form>p {
    font-size: 0.95em;
    margin-bottom: 5px;
    margin-top: 5px;
}

.form>h1 {
    font-size: 1.8em;
}

.form {
    padding: 10px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

form>input[type=submit] {
    display: block;
    font-size: 0.8em;
    width: 100%;
    height: 40px;
    background-color: #5a2995;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: all 0.6s ease;
    font-family: Poppins, sans-serif;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

form>input[type=submit]:hover{
    cursor: pointer;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.315);
}

.botao > span{
    margin: 5px;
    font-size: 1.4em;
    margin-top: 8px;
}

.botao:hover{
    background-color: #5a2995;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.315);
}

.botao {
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;justify-content: center;
    color: #fff;
    width: 100%;
    margin-top: 5px;
    height: 40px;
    background-color: #6b5388;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.6s ease;
}

.campo >label{
    display: none;
}

.campo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#7e899f;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
}

.campo>input{
    width: 60%;
    height: 25px;
    border-radius: 3px;
    border: none;
    paddin: 5px;
    
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login {
        width: 80vw;
        transition: 1s ease;
    }

    section#login>.imagem {
        float: left;
        width: 50%;
        height: 100%;
        background-position: bottom;
        background-size: cover;
        background-repeat: none;
    }

    section#login>.form {
        float: right;
        width: 50%;
        font-size: 1.4em;
    }

    .campo{
        width: 100%;
        height: 60px;
        margin: auto;
        margin-bottom: 10px;
        gap: 10px;
    }

    .campo > input {
        width: 60%;
        height: 30px;
        font-size: 0.8em;
        padding: 5px;
    }

    .campo > span{
        font-size: 1.2em;
        background-color: #5a2995;
        padding: 8px;
        border-radius: 5px;
        color: #fff;
    }

    form>input[type=submit]{
        width: 100%;
        height: 60px;
        margin: auto;
        font-size: 1.2em;
    }
}

@media screen and (min-width: 992px) {
    main {
        background: rgb(66, 73, 141);
        background: linear-gradient(130deg, rgba(66, 73, 141, 1) 0%, rgba(14, 8, 52, 1) 100%);
        width: 100vw;
        height: 100vh;
    }

    section#login {
        width: 890px;
    }

    section#login>.imagem {
        float: left;
        width: 40%;
        height: 100%;
        background-position: center bottom;
        background-size: cover;
        display: block;
    }

    section#login>.form {
        float: right;
        width: 60%;
        font-size: 1.6em;
    }

    .campo{
        width: 80%;
        height: 60px;
        margin: auto;
        margin-bottom: 10px;
        gap: 10px;
    }

    .campo > input {
        width: 60%;
        height: 30px;
        font-size: 0.8em;
        padding: 5px;
    }

    .campo > span{
        font-size: 1.2em;
        background-color: #5a2995;
        padding: 8px;
        border-radius: 5px;
        color: #fff;
    }

    form>input[type=submit]{
        width: 80%;
        height: 60px;
        margin: auto;
    }
    
    .botao{
        width: 80%;
        margin: auto;
        margin-top: 10px;
    }

}
